<!doctype html>
<html lang="en">
    <head>
<!-- Google Tag Manager -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HR7NNQC0Y9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HR7NNQC0Y9');
</script>

<!--script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-57T3873');</script-->
<!-- End Google Tag Manager -->

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!--meta name="description" content="My Ultimate Shopping Guide is a blog in which I introduce the products that I find useful for different purposes. Users can use the search tool to compare price of different products across various websites."-->

        {{ template "_internal/opengraph.html" . }}
        {{ template "_internal/twitter_cards.html" . }}

<!--script async custom-element="amp-auto-ads"
        src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
</script-->



<!-- Facebook Pixel Code -->
<!--script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '2197861220503899');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=2197861220503899&ev=PageView&noscript=1"
/></noscript-->
<!-- End Facebook Pixel Code -->


        <title>{{ with .Params.Title }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}</title>

        <link rel="icon" type="image/png" href='{{ "images/favicon-16x16.png" | absURL }}' sizes="16x16">
        <link rel="icon" type="image/png" href='{{ "images/favicon-32x32.png" | absURL }}' sizes="32x32">

        <link href="https://fonts.googleapis.com/css?family=Oswald:400" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

        {{ $styles := resources.Get "css/styles.css" }}
        {{ $syntax := resources.Get "css/syntax.css" }}
        {{ $styles := slice $styles $syntax | resources.Concat "css/bundle.css" | minify | fingerprint }}

        <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}"  />

        {{ block "head" . }}{{ end }}
    </head>
    <body>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v17.0" nonce="ftU7aG2I"></script>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-57T3873"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!--amp-auto-ads type="adsense"
              data-ad-client="ca-pub-2843564932689995">
</amp-auto-ads-->
        <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark py-1 top-nav">
            <div class="container">
                    {{ partial "navbar-brand" . }}
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="navbar-collapse collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        {{ partial "top-nav-text-links" . }}
                    </ul>
                    <div class="social-icons d-none d-lg-block">
                        {{ partial "social-icons" . }}
                    </div>
                </div>
            </div>
        </nav>

        {{ block "header" .}}{{ end }}

        <div style="margin-top:50px" class="main">
            {{ block "main" . }}{{ end }}
        </div>
        
		<div class="fb-comments" data-href="https://www.comparepriceacross.com{{.RelPermalink}}" data-width="100%" data-numposts="5"></div>

        <footer class="mt-auto footer d-print-none">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-md-4 col-xl-3">
                        {{ partial "footer-copyright" . }}
                    </div>
                    <div class="col-md-4 col-xl-3">
                        {{ partial "footer-disclaimer" . }}
                    </div>
                    <div class="col-md-4 col-xl-3">
                        {{ partial "footer-about-site" . }}
                    </div>
                </div>

                <hr />

                <div class="d-flex justify-content-center icons">
                    {{ partial "social-icons" . }}
                </div>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        {{ template "_internal/google_analytics_async.html" . }}
    </body>
</html>
